@charset "UTF-8";

* {
    box-sizing: border-box;
}

body{
    margin:auto;
    max-width: 900px;
    background-color: lightgray;
}

table{
    width: 100%; /* A táblázat szélessége 100% legyen a konténeren belül */
    text-align: center;
}

table, th, td {
    
   
    border: 1px solid black;
    border-collapse: collapse;
      
}
